.row
  .columns.small-offset-1.small-10
    = simple_form_for [@category, @topic] do |f|
      = f.error :base
      = f.input :name
      = f.simple_fields_for :posts do |p|
        = p.input :content, input_html: {rows: 25}
      = f.button :submit
