.row
  .columns.small-offset-1.small-10
    = simple_form_for @user do |f|
      = f.error :base
      = f.input :name
      = f.input :email, disabled: true
      = f.input :password, required: false
      = f.input :password_confirmation
      = f.button :submit
