!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    = render 'common/topbar'

    #content
      = yield

  %footer
    %p.text-center
      %small
        &copy; The Wyvern Rocks
        = Time.now.year
        \-
        %em
          Server Time is
          = Time.now
        %br
        Built with &#9829; in Europe using
        %a{href:"https://www.gnu.org/"}
          Free/Libre Software
        hosted on
        %a{href:"https://github.com"}
          Github
