!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    = render 'common/topbar'

    #content
      .panel.callout.radius
        %p
          Welcome to
          %em The Wyvern Rocks
          \! We are a young community, just on the verge of starting up.
          Call it pre-alpha, this means not everything will always work
          all the time. However, steady progress will transform this into
          something great. Hold tight and let's cruise through these uncharted
          waters together!
        %p
          If you do find any bugs, please report them per email,
          to
          %em neikos at neikos dot email
          or on
          %a{href: "https://github.com/theneikos/the.wyvern.rocks/issues/new"}
            Github
          \. You can also post them into the Bug Reporting Station in the Forums.
      - if not flash[:notice].nil? then
        .row
          .columns.small-12
            .alert-box.info
              = flash[:notice]
              %a{href: '#', class:'close'} &times;
      - if not flash[:alert].nil? then
        .row
          .columns.small-12
            .alert-box.alert
              = flash[:alert]
              %a{href: '#', class:'close'} &times;
      = yield

  %footer
    %p.text-center
      %small
        &copy; The Wyvern Rocks
        = Time.now.year
        \-
        %em
          Server Time is
          = Time.now
        %br
        Built with &#9829; in Europe using
        %a{href:"https://www.gnu.org/"}
          Free/Libre Software
        hosted on
        %a{href:"https://github.com"}
          Github
